
{% include 'head.html' %}
<body>
    
    <!-- Topbar -->
    {% include 'topbar.html' %}

    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Shop Detail Start -->
    {% include 'productdetails.html' %}
    <!-- Shop Detail End -->


    <!-- Products Start -->
    {% include 'relatedproducts.html' %}
    <!-- Products End -->

 <!-- Footer Start -->
 {% include 'footer.html' %}


 <!-- Back to Top -->
 <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
 
 <!-- JavaScript Libraries -->
 {% include 'scriptsfooter.html' %}
</body>

</html>