
{% include 'head.html' %}
<body>
    
    <!-- Topbar -->
    {% include 'topbar.html' %}

    <!-- Navbar Start -->
    {% include 'navbar.html' %}

    <!-- Carousel Start -->
    {% include 'topadvertisement.html' %}


    <!-- Categories Start -->
    {% include 'categories.html' %}


    <!-- Products Start -->
    {% include 'featured.html' %}

    <!-- Offer Start -->
    {% include 'offers.html' %}

    <!-- Products Start -->
    {% include 'recommended.html' %}
    <!-- Products End -->


    <!-- Vendor Start -->
    <!-- {% include 'recentviewed.html'%} -->
    <!-- Vendor End -->


    <!-- Footer Start -->
    {% include 'footer.html' %}

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    {% include 'scriptsfooter.html' %}
    
</body>

</html>