<form>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Full_name</label>
                        <input class="form-control" type="text" placeholder="{{ session['full_name'] }}" value="{{ session['full_name'] }}" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="{{ session['email'] }}" value="{{ session['email'] }}" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" placeholder="{{ session['phone_number'] }}" value="{{ session['phone_number'] }}" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Station</label>
                        <select class="custom-select">
                            <option selected>chuka</option>
                            <option>Nairobi</option>
                            <option>meru</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>village/section/street/nearest landmark</label>
                        <input class="form-control" type="text" placeholder="eg behind lowlands hotel ">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>house number/ family name/ futher description </label>
                        <input class="form-control" type="text" placeholder="eg. land hostels, room 2 ">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>derivery type</label>
                        <select class="custom-select">
                            <option selected>pick on supermarket</option>
                            <option>station derivery</option>
                            <option>door derivery </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    {% if items %}
                    {% for item in items %}
                    <div class="d-flex justify-content-between">
                        <p>{{ item[1] }}</p>
                        {% set prices = [item[3]] %} <!-- Add original price -->
                            {% if item[4] %} <!-- Check if featured price exists -->
                                {% set prices = prices + [item[4]] %}
                            {% endif %}
                            {% if item[5] %} <!-- Check if discount price exists -->
                                {% set prices = prices + [item[5]] %}
                            {% endif %}

                            <!-- Find the minimum price -->
                            {% set best_price = prices | min %}
                        <p> ksh {{ best_price * item[6] }} </p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% if items %}
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>ksh {{ total }}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">ksh 0</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>ksh {{ total }}</h5>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="text" value= "mpesa" class="custom-control-input" name="payment" id="mpesa">
                            <label class="custom-control-label" for="mpesa">M-pesa</label>
                        </div>
                    </div>
                    
                    <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>