<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-lg-flex" style="position: static;">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="text-uppercase text-primary bg-dark px-2">Inteligent</span>
                <span class="text-uppercase text-dark bg-primary px-2 ml-n1">Supermarket</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products" id="searchInput">
                    
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            {% if session['username'] %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Welcome, {{ session['username'] }} !</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" onclick="location.href='{{url_for('logout')}}';">log out </button>
                    </div>
                </div>
            {% else %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" onclick="location.href='{{url_for('login')}}';">Sign in</button>
                        <button class="dropdown-item" type="button" onclick="location.href='{{url_for('signup')}}';">Sign up</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.getElementById('searchInput').addEventListener('input', function() {
      const currentFile = window.location.pathname;
        if (currentFile.includes('/shop')) {
            fetchsearchproduct(this.value);
        } else {
            window.location.href="/shop";
        }
    //   const adElements = document.querySelectorAll('.searching');
    //     if (adElements.length > 0) {
    //         adElements.forEach(ad => ad.remove());
    //     }
    });
    function fetchsearchproduct(searchTerm) {
    // Construct the API URL with the search query
    let apiUrl = '/api/searchproducts';
    if (searchTerm) {
      apiUrl += `?search=${encodeURIComponent(searchTerm)}`;
    }
    // Fetch the products from the API
    fetch(apiUrl)
      .then(response => response.json())
      .then(products => {
        // Call displayProducts with the returned products
        displayProducts(products);
      })
      .catch(error => {
        console.error('Error fetching products:', error);
      });
  }
  </script>